<div id="account" class="current">
    <div class="toolbar">
        <% if !User.current.logged? %>
        <a class="button slideup" id="infoButton" href="/iphone/login">Login</a>
        <% end %>
        <%= link_to( "Back", iphone_path , :class => "back") %>
    </div>

    <div class="user">
      <h3><%= @user.name %></h3>
      <ul>
        <li class="list"><%= l(:field_mail) %>: <%= @user.mail %></li>
        <li class="list"><%=l(:label_registered_on)%>: <%= format_date(@user.created_on) %></li>
        <li class="list"><%=l(:field_last_login_on)%>: <%= format_date(@user.last_login_on) %></li>
      </ul>
      <h3><%=l(:label_project_plural)%></h3>
      <% unless @memberships.empty? %>
      <ul>
        <% for membership in @memberships %>
          <li><%= link_to_project(membership.project) %>
          (<%=h membership.roles.sort.collect(&:to_s).join(', ') %>, <%= format_date(membership.created_on) %>)</li>
        <% end %>
      </ul>
      <% end %>
    </div>
</div>
