<div id="<%= dom_id(@project) %>" class="current">
    <div class="toolbar">
        <h1><%=h @project.name %></h1>
        <% if !User.current.logged? %>
        	<a class="button slideup" id="infoButton" href="#login">Login</a>
        <% end %>
        <%= link_to( "Back", iphone_path , :class => "back") %>
    </div>
    <h2>Issues</h2>
    <ul class="rounded">
        <% @project.trackers.each do |tracker| %>
        <li class="arrow"><%= link_to(tracker.name, iphone_project_issues_path(@project, :tracker_id => tracker ) )%> <small class="counter"><%= Issue.count(:conditions => {:tracker_id => tracker.id, :project_id => @project.id}) %></small></li>
        <% end %>
    </ul>

    <% if @total_hours && User.current.allowed_to?(:view_time_entries, @project) %>
    <h2><%= l(:label_spent_time) %></h2>
    <ul class="rounded">
        <li><%= l_hours(@total_hours) %><br></li>
        <li class="arrow">
            <%= link_to(l(:label_new), new_iphone_project_issue_path(@project) ) %>
        </li>
        <li class="arrow">
            <%= link_to(l(:label_details), activity_iphone_project_path(@project) )%>
        </li>
    </ul>
    <% end %>
</div>
