<div id="issues" class="current">
    <div class="toolbar">
        <h1><%=h @project.name %></h1>
        <% if !User.current.logged? %>
        	<a class="button slideup" id="infoButton" href="#login">Login</a>
        <% end %>
        <%= link_to("Back", iphone_project_path(@project) ,:class => "back") %>
    </div>
    <% if @tracker %>
    	<h2>Issues &gt; <%= @tracker.name %></h2>
    <% else %>
    	<h2>Issues</h2>
    <% end %>
    <% form_tag({:action => 'index'}, 
                {:method => 'get', :name => 'filter'}) do %>
      <%= hidden_field_tag :project_id, params[:project_id] %>
      <%= hidden_field_tag :tracker_id, params[:tracker_id] %>
      <ul>
        <li><%= select_tag :filter_status, 
                         options_for_select([['Open', 'open'], ['Closed', 'closed'], ['All', 'all']],
                                            (session[:filter_status] || 'open')),
                         {:onchange => 'document.filter.submit();'}
             %></li>
      </ul>
    <% end %>
    <ul id="issue_list" class="rounded">
        <% @issues.each do |issue| %>
        	<li class="arrow"><%= link_to("##{issue.id}-#{issue.subject}", iphone_project_issue_path(@project,issue)) %></li>
        <% end %>
    </ul>
</div>
